In [2]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
#data preprocessing
df = pd.read_csv("Market_Basket_Optimisation.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Replacing NaNwith zeros
df.fillna(0,inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
#Further Data Pre-processing
transactions = []
for i in range (0,len(df)): 
    transactions.append([str(df.values[i,j]) for j in range(0,20) if str (df.values[i,j])!="0"])
# convert to string for all column ranging from 0-19, yang value not 0

In [6]:
transactions[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [8]:
#Training Apriori on the dataset
from apyori import apriori
rules = apriori(transactions,min_support = 0.003, min_confidence = 0.2, min_lift = 3, max_length = 3)
results = list(rules)
# apriori(input=transactions:must be in list format)

In [9]:
#save trasnsctions and results as csv
df1 = pd.DataFrame(transactions)
df1.to_csv("transactions.csv")
df2=pd.DataFrame(results)
df2.to_csv("results.csv")

results=pd.read_csv('results.csv')
results.head(10)

,Unnamed: 0,items,support,ordered_statistics
0,0,"frozenset({'light cream', 'chicken'})",0.004533,[OrderedStatistic(items_base=frozenset({'light...
1,1,"frozenset({'escalope', 'mushroom cream sauce'})",0.005733,[OrderedStatistic(items_base=frozenset({'mushr...
2,2,"frozenset({'escalope', 'pasta'})",0.005866,[OrderedStatistic(items_base=frozenset({'pasta...
3,3,"frozenset({'fromage blanc', 'honey'})",0.003333,[OrderedStatistic(items_base=frozenset({'froma...
4,4,"frozenset({'herb & pepper', 'ground beef'})",0.015998,[OrderedStatistic(items_base=frozenset({'herb ...
5,5,"frozenset({'tomato sauce', 'ground beef'})",0.005333,[OrderedStatistic(items_base=frozenset({'tomat...
6,6,"frozenset({'light cream', 'olive oil'})",0.003200,[OrderedStatistic(items_base=frozenset({'light...
7,7,"frozenset({'olive oil', 'whole wheat pasta'})",0.007999,[OrderedStatistic(items_base=frozenset({'whole...
8,8,"frozenset({'shrimp', 'pasta'})",0.005066,[OrderedStatistic(items_base=frozenset({'pasta...
9,9,"frozenset({'spaghetti', 'milk', 'avocado'})",0.003333,[OrderedStatistic(items_base=frozenset({'spagh...