In [1]:
#import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#import dataset
dataset = pd.read_csv('100_initial.csv')

In [3]:
dataset.head()

       country  Age  Weight  Sleep before 10pm
0        China   39      33               True
1  Philippines   49      47              False
2        China   44      39              False
3        China   39      78              False
4        China   29      36              False

In [5]:
dataset.shape

(100, 4)

In [4]:
# check missing data
# check categorical data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            100 non-null    object
 1   Age                100 non-null    int64
 2   Weight             100 non-null    int64
 3   Sleep before 10pm  100 non-null    bool
dtypes: bool(1), int64(2), object(1)
memory usage: 2.6+ KB

In [6]:
dataset.describe()

              Age      Weight
count  100.000000  100.000000
mean    32.760000   69.310000
std      9.672537   26.780324
min     18.000000   31.000000
25%     24.000000   45.750000
50%     33.000000   65.500000
75%     41.000000   91.250000
max     50.000000  120.000000

In [7]:
# define input and output
# for location, always use [] bracket
#X = dataset.iloc[:,:-1].values
#X = dataset.iloc[:,0:3].values
#X = dataset.iloc[:,0:3:1].values
X = dataset.iloc[:,[0,1,2]].values
print(X)

y = dataset.iloc[:, 3].values
#y = dataset.iloc[:, -1].values
print(y)

[['China' 39 33]
 ['Philippines' 49 47]
 ['China' 44 39]
 ['China' 39 78]
 ['China' 29 36]
 ['Indonesia' 34 93]
 ['Philippines' 33 57]
 ['Philippines' 26 31]
 ['China' 33 35]
 ['China' 41 40]
 ['China' 35 66]
 ['Indonesia' 39 116]
 ['Indonesia' 19 44]
 ['China' 46 50]
 ['China' 19 91]
 ['China' 24 36]
 ['China' 41 113]
 ['Indonesia' 23 89]
 ['Indonesia' 21 90]
 ['China' 28 50]
 ['Indonesia' 37 93]
 ['China' 27 38]
 ['China' 19 65]
 ['China' 20 105]
 ['Indonesia' 23 91]
 ['China' 43 57]
 ['Philippines' 19 84]
 ['China' 34 39]
 ['Indonesia' 24 32]
 ['Philippines' 27 79]
 ['China' 48 92]
 ['China' 37 78]
 ['China' 18 35]
 ['China' 41 91]
 ['Indonesia' 32 44]
 ['China' 19 96]
 ['China' 27 101]
 ['China' 26 39]
 ['China' 29 39]
 ['Philippines' 27 43]
 ['China' 37 34]
 ['China' 46 85]
 ['China' 21 64]
 ['Indonesia' 33 82]
 ['China' 18 71]
 ['China' 24 50]
 ['China' 41 92]
 ['Philippines' 36 53]
 ['Indonesia' 45 78]
 ['China' 43 61]
 ['Philippines' 34 60]
 ['China' 41 100]
 ['China' 30 35]
 ['Indonesia' 41 75]
 ['Malaysia' 49 51]
 ['Philippines' 40 52]
 ['China' 48 89]
 ['China' 19 116]
 ['Malaysia' 32 80]
 ['Indonesia' 44 72]
 ['Malaysia' 24 45]
 ['Indonesia' 20 35]
 ['China' 44 61]
 ['Philippines' 31 97]
 ['China' 21 81]
 ['Malaysia' 42 60]
 ['China' 48 115]
 ['Indonesia' 28 58]
 ['Philippines' 25 86]
 ['Indonesia' 27 67]
 ['Indonesia' 33 46]
 ['Japan' 27 85]
 ['China' 27 40]
 ['China' 24 47]
 ['China' 26 50]
 ['China' 43 104]
 ['Philippines' 38 38]
 ['Philippines' 50 47]
 ['Indonesia' 21 112]
 ['China' 24 51]
 ['Indonesia' 38 115]
 ['Malaysia' 46 33]
 ['China' 47 48]
 ['China' 43 93]
 ['Philippines' 46 92]
 ['Philippines' 19 85]
 ['Indonesia' 26 105]
 ['China' 30 33]
 ['Philippines' 33 102]
 ['China' 20 47]
 ['China' 37 107]
 ['Indonesia' 44 120]
 ['China' 19 55]
 ['Philippines' 41 40]
 ['China' 47 107]
 ['China' 22 111]
 ['China' 44 114]
 ['China' 28 50]
 ['China' 21 86]
 ['Philippines' 41 88]]
[ True False False False False False False  True  True False False False
  True False False  True False  True  True False  True  True False  True
 False False False  True  True False  True  True False False  True False
  True False False False False False False False False False False  True
 False  True False False False False  True  True  True  True  True  True
 False False False  True False  True False  True False  True False False
 False False  True  True False  True False False False False  True False
 False  True  True  True  True  True False  True False  True  True  True
 False  True  True  True]

In [ ]:
# df.iloc[:,-1] it means only last column
# df.iloc[:,:-1] mean all but not include last column

In [ ]:
# import dataset without header
df = pd.read_csv('100_initial.csv', header = None)