In [ ]:
import pandas as pd
df= pd.read_csv('buying.csv')

In [ ]:
df

In [ ]:
df.head(1)

In [ ]:
df.head()

In [ ]:
df.head(2)

In [ ]:
df.head['apples']

In [ ]:
df['apples']

In [1]:
import pandas as pd
df1 = pd.read_csv('1000_data.csv')

In [2]:
df1

      country  age  weight  sleep before 10pm
0    Mongolia   61     100              False
1      Russia   38      77               True
2    Zimbabwe   32      69              False
3    Portugal   43      77               True
4      France   65      64              False
..        ...  ...     ...                ...
995    Serbia   23      66               True
996    Brazil   53      79              False
997   Myanmar   39      46               True
998     Italy   62      41              False
999    Latvia   23      73              False

[1000 rows x 4 columns]

In [3]:
df1.head()

    country  age  weight  sleep before 10pm
0  Mongolia   61     100              False
1    Russia   38      77               True
2  Zimbabwe   32      69              False
3  Portugal   43      77               True
4    France   65      64              False

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            1000 non-null   object
 1   age                1000 non-null   int64
 2   weight             1000 non-null   int64
 3   sleep before 10pm  1000 non-null   bool
dtypes: bool(1), int64(2), object(1)
memory usage: 24.5+ KB

In [5]:
df1['age'].head()

0    61
1    38
2    32
3    43
4    65
Name: age, dtype: int64

In [6]:
#Concatenate two columns
df1['age_weight']= df1.age.astype(str) + ',' + df1.weight.astype(str)

In [7]:
df1.head()

    country  age  weight  sleep before 10pm age_weight
0  Mongolia   61     100              False     61,100
1    Russia   38      77               True      38,77
2  Zimbabwe   32      69              False      32,69
3  Portugal   43      77               True      43,77
4    France   65      64              False      65,64

In [8]:
#Drop on attribute (column)
df1=df1.drop('age_Weight', axis=1)
df1

KeyError: "['age_Weight'] not found in axis"

In [9]:
#Drop an attribute (column)
df1=df1.drop('age_weight', axis=1)
df1

      country  age  weight  sleep before 10pm
0    Mongolia   61     100              False
1      Russia   38      77               True
2    Zimbabwe   32      69              False
3    Portugal   43      77               True
4      France   65      64              False
..        ...  ...     ...                ...
995    Serbia   23      66               True
996    Brazil   53      79              False
997   Myanmar   39      46               True
998     Italy   62      41              False
999    Latvia   23      73              False

[1000 rows x 4 columns]

In [10]:
df1=df1.sort_values('age',ascending=False)

In [11]:
df1=df1.sort_values('weight',ascending=True)
df1

       country  age  weight  sleep before 10pm
919  Indonesia   37      40              False
754      Syria   16      40               True
371    Tokelau   24      40              False
326   Colombia   47      40              False
708     Poland   39      40               True
..         ...  ...     ...                ...
517     Russia   50     100               True
436     Russia   68     100               True
905   Thailand   39     100               True
145  Indonesia   65     100              False
375     Russia   37     100               True

[1000 rows x 4 columns]

In [12]:
df1.sort_values(['age','weight'])

                      country  age  weight  sleep before 10pm
196            Czech Republic   15      40               True
396                   Vietnam   15      43               True
277                 Indonesia   15      48              False
107               Philippines   15      50              False
77                   Portugal   15      54               True
..                        ...  ...     ...                ...
421               North Korea   70      88               True
963            Czech Republic   70      89               True
163                   Bolivia   70      92              False
947  Central African Republic   70      95               True
801                     China   70      95              False

[1000 rows x 4 columns]

In [1]:
df1.iloc[o]

NameError: name 'df1' is not defined

In [15]:
df1.iloc[0]

country              Indonesia
age                         37
weight                      40
sleep before 10pm        False
Name: 919, dtype: object

In [16]:
df1.iloc[3]

country              Colombia
age                        47
weight                     40
sleep before 10pm       False
Name: 326, dtype: object

In [18]:
df1.iloc[:,0]

919    Indonesia
754        Syria
371      Tokelau
326     Colombia
708       Poland
         ...
517       Russia
436       Russia
905     Thailand
145    Indonesia
375       Russia
Name: country, Length: 1000, dtype: object

In [19]:
df1.iloc[:,-3]

919    37
754    16
371    24
326    47
708    39
       ..
517    50
436    68
905    39
145    65
375    37
Name: age, Length: 1000, dtype: int64

In [20]:
df1.iloc[:,3]

919    False
754     True
371    False
326    False
708     True
       ...
517     True
436     True
905     True
145    False
375     True
Name: sleep before 10pm, Length: 1000, dtype: bool

In [21]:
df1.iloc[:,2] as x

SyntaxError: invalid syntax (Temp/ipykernel_15224/3749884761.py, line 1)

In [22]:
x = df1.iloc[:,2]

In [23]:
x

919     40
754     40
371     40
326     40
708     40
      ...
517    100
436    100
905    100
145    100
375    100
Name: weight, Length: 1000, dtype: int64

In [24]:
df1.iloc[:,2].head(10)

919    40
754    40
371    40
326    40
708    40
8      40
809    40
125    40
721    40
543    40
Name: weight, dtype: int64