In [1]:
import pandas as pd

In [2]:
data = {'apples': [2,1,3,4], 'bananas':[2,5,1,0]}

In [3]:
buying = pd.DataFrame(data)

In [4]:
buying

   apples  bananas
0       2        2
1       1        5
2       3        1
3       4        0

In [5]:
buying = pd.DataFrame(data, index=['Jane', 'Daniel', 'May', 'Jack'])

In [6]:
buying

        apples  bananas
Jane         2        2
Daniel       1        5
May          3        1
Jack         4        0

In [7]:
buying.index.name='customer' #to give index column a name
buying

          apples  bananas
customer
Jane           2        2
Daniel         1        5
May            3        1
Jack           4        0

In [8]:
buying.loc['Jane']

apples     2
bananas    2
Name: Jane, dtype: int64

In [29]:
df = pd.DataFrame(buying)
df.to_csv('buying.csv', index = True, header=True)

In [33]:
df.iloc[[0,3,5],2]

IndexError: positional indexers are out-of-bounds

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Jane to Jack
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   apples   4 non-null      int64
 1   bananas  4 non-null      int64
dtypes: int64(2)
memory usage: 268.0+ bytes

In [34]:
x()

NameError: name 'x' is not defined

In [35]:
x.info()

NameError: name 'x' is not defined