In [2]:
#import library
import pandas as pd
#import dataset
dataset = pd.read_csv('dataset/10_initial_FS.csv')

In [3]:
#inspection on dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            10 non-null     object
 1   Age                10 non-null     int64
 2   Weight             10 non-null     int64
 3   Salary             10 non-null     int64
 4   Sleep before 10pm  10 non-null     bool
dtypes: bool(1), int64(3), object(1)
memory usage: 458.0+ bytes

In [4]:
dataset.head()

       country  Age  Weight  Salary  Sleep before 10pm
0        China   39      33   54656               True
1  Philippines   49      47   79952              False
2        China   44      39   97507              False
3        China   39      78   98912              False
4        China   29      36   69585              False

In [5]:
#define input and output of dataset
X = dataset.iloc[:,0:4].values
y = dataset.iloc[:4].values
print(X)

[['China' 39 33 54656]
 ['Philippines' 49 47 79952]
 ['China' 44 39 97507]
 ['China' 39 78 98912]
 ['China' 29 36 69585]
 ['Indonesia' 34 93 86324]
 ['Philippines' 33 57 94321]
 ['Philippines' 26 31 65625]
 ['China' 33 35 93450]
 ['China' 41 40 70155]]

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("Country", OneHotEncoder(), [0])], remainder = 'passthrough')
X = ct.fit_transform(X)
X

array([[1.0, 0.0, 0.0, 39, 33, 54656],
       [0.0, 0.0, 1.0, 49, 47, 79952],
       [1.0, 0.0, 0.0, 44, 39, 97507],
       [1.0, 0.0, 0.0, 39, 78, 98912],
       [1.0, 0.0, 0.0, 29, 36, 69585],
       [0.0, 1.0, 0.0, 34, 93, 86324],
       [0.0, 0.0, 1.0, 33, 57, 94321],
       [0.0, 0.0, 1.0, 26, 31, 65625],
       [1.0, 0.0, 0.0, 33, 35, 93450],
       [1.0, 0.0, 0.0, 41, 40, 70155]], dtype=object)

In [7]:
#import scaler
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

In [8]:
print(X)

[[ 0.81649658 -0.33333333 -0.65465367  0.34591355 -0.79790769 -1.8069119 ]
 [-1.22474487 -0.33333333  1.52752523  1.84988552 -0.09534746 -0.07508289]
 [ 0.81649658 -0.33333333 -0.65465367  1.09789954 -0.49681045  1.12677741]
 [ 0.81649658 -0.33333333 -0.65465367  0.34591355  1.46032162  1.22296731]
 [ 0.81649658 -0.33333333 -0.65465367 -1.15805842 -0.64735907 -0.78483429]
 [-1.22474487  3.         -0.65465367 -0.40607243  2.21306472  0.36116056]
 [-1.22474487 -0.33333333  1.52752523 -0.55646963  0.40648127  0.90865568]
 [-1.22474487 -0.33333333  1.52752523 -1.60925001 -0.89827343 -1.05594604]
 [ 0.81649658 -0.33333333 -0.65465367 -0.55646963 -0.69754194  0.84902479]
 [ 0.81649658 -0.33333333 -0.65465367  0.64670795 -0.44662757 -0.74581063]]