In [1]:
#import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
ds=pd.read_csv('MLR_numeric.csv')
ds.head()

,S&P department (spend),Admin department(spend),Operation department(spend),Profit
0,101184,70674,97009,259480
1,70132,52030,63587,137019
2,149539,98535,199994,495552
3,75821,53649,66500,165057
4,97730,68667,91754,247841

In [3]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   S&P department (spend)       50 non-null     int64
 1   Admin department(spend)      50 non-null     int64
 2   Operation department(spend)  50 non-null     int64
 3   Profit                       50 non-null     int64
dtypes: int64(4)
memory usage: 1.7 KB

In [4]:
#x=ds.iloc[:,:-1].values #Volume
x=ds.iloc[:,0:3].values #Volume
#x=ds.iloc[:,[0,1,2]].values 
#y=ds.iloc[:,3].values #Price
y=ds.iloc[:,-1].values #Volume
#print(x)
#print(y)

In [5]:
#calculate the correlation coefficient for the dataset
corr = ds.corr()
print(corr)

                             S&P department (spend)  Admin department(spend)  \
S&P department (spend)                     1.000000                 0.984560
Admin department(spend)                    0.984560                 1.000000
Operation department(spend)                0.976437                 0.980723
Profit                                     0.982576                 0.993823

                             Operation department(spend)    Profit
S&P department (spend)                          0.976437  0.982576
Admin department(spend)                         0.980723  0.993823
Operation department(spend)                     1.000000  0.975566
Profit                                          0.975566  1.000000

In [6]:
#splitting the dataset into training and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [7]:
# multiple linear regression - step 2 
#Fitting simple linear regression to training set
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)
print('Coefficients,beta:', regressor.coef_)
print('Constant,alpha:', regressor.predict([[0,0,0]])) # y= mx1 + mx2 + mx3 + c

Coefficients,beta: [ 0.74568222  6.6837466  -0.17261534]
Constant,alpha: [-245992.40257836]

In [8]:
#Predicting the results for test set
y_pred=regressor.predict(x_test)
print(y_pred) # predicted
print(y_test) # actual

[474262.32345618 311167.2377158  182212.30728899 254661.21837792
 489577.11092428 388254.76244367 216897.80322374 227697.88060702
 456234.34442673 269997.80127102]
[466013 305250 188824 241206 495552 397289 222793 229567 438294 247841]

In [9]:
#calculate the correlation coefficient
corr=np.corrcoef(y_pred, y_test)
print(corr)

[[1.         0.99521366]
 [0.99521366 1.        ]]

In [10]:
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(y_test, y_pred)
print(MSE) # MSE to compare 2 model

129616592.25129478

In [11]:
df = pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
corr = df.corr()
print(corr)

             Actual  Predicted
Actual     1.000000   0.995214
Predicted  0.995214   1.000000

In [12]:
y_pred=regressor.predict([[90020,55200,94230]])
print(y_pred)

[173811.18025181]